* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    gap: 10px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.card {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.card:nth-child(2) {
    flex-grow: 1;
}

.card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.card li {
    font-size: 20px;
    cursor: pointer;
}

.card li:hover {
    color: green;
}

.disabled {
    color: grey;
    pointer-events: none;
}

.batepapo {
    width: 70%;
    height: 700px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.mensagem {
    width: 100%;
    text-align: center;
}

.mensagem h1 {
    margin-bottom: 20px;
}

.mensagem textarea,
.mensagem input {
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
}

.mensagem textarea {
    height: 500px;
    resize: none;
}

.mensagem button {
    padding: 12px 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
